@media (max-width: 374px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      "content";
  }

  .content {
    display: block;
  }
  
  .main-head,
  .main-nav,
  .side,
  .ad,
  .main-footer {
    display: none;
  }
}